<app-menu-superior
  [activeTab]="activeTab()"
  (tabChange)="onTabChange($event)"
  (filterChange)="onFilterChange($event)"
  (createPet)="openCreatePet()"
/>
<section class="p-4">
  <router-outlet
></router-outlet>
</section>


  <app-pet-detail-modal
    [pet]="selectedPet()"
    [loading]="loading()"
    (close)="closeDetail()"
  />



@if (showPetForm()) {
  <app-pet-form-modal
    [pet]="selectedPet()"
    [mode]="formMode()"
    (close)="closeForm()"
  />
}

@if (showTutorDetail()) {
  <app-tutor-detail-modal
    [tutor]="selectedTutor()!"
    (close)="closeTutorDetail()"
  />
}
